html {
    font-family: adobeinvisfont;
}

body {
    max-width: 1282px;
    margin: 0 auto;
}

.img {
    height: 74px;
    width: 292px;
    margin-left: 101px;
    margin-top: 61px;
}

.header {
    background-color: #35444F;
    height: 70px;
    width: 1100px;
    margin-left: 100px;
    margin-top: 50px;
    display: inline-block;
}

.navigation {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.navigation-items {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 70px;
}

.navigation-items a {
    color: white;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #142b38;
}

.left {
    margin-left: 100px;
    margin-top: 50px;
    width: 344px;
    height: 399px;
    border: 1px solid #35444F;
    display: inline-block;
}

.menu1 {
    text-align: left;
    list-style: none;
    font-size: 20px;
}

.menu2 {
    padding: 25px;
}

.menu1 li a:hover {
    background-color: #dcdcdc;
    padding-left: 70px;
    font-weight: bold;
}

.menu2 a {
    text-decoration: none;
    color: #495863
}

.img2 {
    border: 1px solid black;
    display: inline-block;
    width: 55%;
    height: 420px;
    margin-left: 45px;
    text-align: center;
    padding-top: 77px;
    padding-bottom: 20px;
}

.img3 {
    height: 280px;
}

.content {
    margin-left: 520px;
    margin-right: 120px;
    margin-top: 40px;
    text-align: justify;
    font-size: 17px;
}

.footer {
    height: 70px;
    width: 1100px;
    background-color: #B4B7BA;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 20px;
}

.bottom {
    list-style: none;
    padding: 0;
}

.nav {
    display: inline-block;
    padding: 15px;
    padding-top: 5px;
}

.nav a {
    text-decoration: none;
    color: #0C1927;
}

.bottom li a:hover {
    text-decoration: underline;
    color: #0082a9
}

.end {
    display: inline-block;
    margin-left: 250px;
    font-size: 20px
}